<!-- dashboard.hbs -->
<h1>Admin Dashboard</h1>
<div id="dashboard-app"
     data-stats='{{{json stats}}}'
     data-users='{{{json recentUsers}}}'>
  <!-- Vue will take over here -->
</div>
<script>
  window.__DASHBOARD_STATS__ = {{{json stats}}};
  window.__DASHBOARD_USERS__ = {{{json recentUsers}}};
</script>

<!-- 2. Inject Vue dashboard bundle using Vite manifest -->
{{#with (lookup viteManifest "src/vue-dashboard.js") as |bundle|}}
  {{#if bundle.css}}
    {{#each bundle.css}}
      <link rel="stylesheet" href="/dist/{{this}}">
    {{/each}}
  {{/if}}
  <script type="module" src="/dist/{{bundle.file}}"></script>
{{/with}}
